.login-container {
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  &,
  .section-form,
  .section-header,
  .section-header div,
  .section-right {
    display: flex;
  }

  .section-form {
    height: 100vh;
    width: 100%;

    .section-right {
      flex: 1;
      padding: 2rem;
    }

    .section-right {
      background-color: #f9fafb;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #000000;
      gap: 24px;

      h2 {
        font-size: 3rem;
        font-weight: bold;
        text-align: start;
        width: 100%;
        max-width: 600px;
      }

      & > div {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
